<!DOCTYPE html>
<html lang="es-ES">

  <head>
    
    <title>WQ55 - HackLab</title>
    
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="template/css/reset.css" media="screen" />
    <link rel="stylesheet" href="template/css/style.css" media="screen" />
	
	<link rel="shortcut icon" href="favicon.ico" />

  </head>
  
  
  <body>
	
	<div id="contenedor">
	
    <header> 
    
      <div id="logo"><img src="template/img/wq55-logo.png" width="200" height="200" /></div>
      
      <div id="titulo"><h1>WQ55 - HACK LAB</h1></div>
    
    </header>
    
    <section id="contenido">
  
    <div id="terminal">
    
      <div id="handle"><p>WQ55 - Terminal</p></div>
      
      <div class="terminal">
        
        <div id="respuesta"></div>
        
        <span>guest@wq55:~ </span><span class="clone"></span><span class="blink"></span>
        
        <input id="user" type="text" size="2" value="" />
        
      </div>
      
    </div>
    
    <script type="text/javascript" src="template/js/jquery.min.js"></script>
    <script type="text/javascript" src="template/js/dom-drag.js"></script>
    <script type="text/javascript" src="template/js/views.js"></script>
    <script type="text/javascript" src="template/js/main.js"></script>
    
    </section>

	</div>
	
	<div style="width:100%;min-width:80em;clear:both;text-align:center;">
	
		<p style="color:white;font-family:'Ropa'">Copyright WQ55 &copy; 2015 | Oeste - Buenos Aires - Argentina. </p>
	
	</div>
    
  
  </body>
  
</html>